{
  "Kestrel": {
    "Endpoints": {
      "Http": {
        "Url": "http://0.0.0.0:{{web_port}}"
      }
    }
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "FormAuthenticationMode": true,
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "DefaultConnection": "Server={{postgres_server}};Port={{postgres_port}}; Database={{postgres_database}}; User Id={{postgres_user}}; Password={{postgres_password}};",
    "Schema": "public"
  },
  "EmailTemplates": {
    "EmailConfirmSubject": "Подтверждение почтового адреса",
    "EmailConfirmBody": "Пожалуйста перейдите по &lt;a href=@Model.Url&gt;ссылке&lt;/a&gt; для подтверждения почтового адреса",
    "PasswordRestoreSubject": "Восстановление пароля",
    "PasswordRestoreBody": "Пожалуйста перейдите по &lt;a href=@Model.Url&gt;ссылке&lt;/a&gt; для сброса пароля",
    "NewPasswordSubject": "Новый пароль",
    "NewPasswordBody": "Ваш новый пароль @Model.Password"
  },
  "EmailSettings": {
    "Host": "{{email_host}}",
    "Port": "{{email_port}}",
    "UserName": "{{email_user}}",
    "Password": "{{email_password}}",
    "EnableSsl": true,
    "Sender": "{{email_sender}}"
  },
  "DisableSystemLogger": "true",
  "DeveloperAccountOverride": "",
  "DomainUser": "",
  "DomainPassword": "",
  "SyncDbStructure": true,
  "MaxFileSize": "33554432",
  "FileStorageSettings": {
    //Пока есть три варианта хранения файлов (DataBase,FileSystem,S3Amazon) FileStorageType.cs
    "FileStorageType": "S3Amazon",
    "PhysicalStoragePath": "/tmp",
    "VirtualStoragePath": "/virtualpath",
    "S3AmazonSettings": {
      "ServerUrl": "{{s3_server_address}}:{{s3_server_port}}",
      "AccessKey": "{{s3_access_key}}",
      "SecretKey": "{{s3_secret_key}}",
      "MultiPartUploadMaxMb": 2048,
      "BucketName": "{{s3_bucket}}"
    }
  },
  "QgisSettings": {
    "MapProxyUrl": "{{mapproxy_url}}",
    "ServerUrl": "{{qgis_url}}"
  },
  "ShapeImportSettings": {
    "TempDir": "c:\\Temp\\ShapeImport",
    "CoordinateConvertUrl": "http://localhost:1337/convertCoordinates"
  },
  "FileImportSettings": {
    "NpoFilesPath": "\\mars\\Unprotected\\2020.12.17\\",
    "AnimalsFilesPath": "\\mars\\Unprotected\\FaunaOOPT\\"
  }
}
