# {{ ansible_managed }}

server {
  listen  80;
  server_name  private.{{ base_address }};
  access_log   /var/log/nginx/Zapoved.Oopt.Web.Private.access.log;
  error_log   /var/log/nginx/Zapoved.Oopt.Web.Private.error.log;

  location / {
    proxy_redirect off;

    expires     epoch;
    proxy_no_cache 1;
    proxy_cache_bypass 1;

    proxy_set_header X-Forwarded-Host $http_host; 
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for; 
    proxy_set_header X-Forwarded-Proto $scheme; 

    client_max_body_size 10m;

    proxy_http_version 1.1;  
    proxy_pass http://localhost:{{web_port}}; 
  }
    
  expires 5d;
}