# {{ ansible_managed }}

[Unit]
Description=Zapoved.Oopt.Web.Private service

[Service]
WorkingDirectory=/var/www/Zapoved.Oopt.Web.Private
ExecStart={{ dotnet_path }} /var/www/Zapoved.Oopt.Web.Private/Zapoved.Oopt.Web.Private.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=Zapoved.Oopt.Web.Private
#User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target