# {{ ansible_managed }}

127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4

{% for item in hostvars| sort %}
{%if domain is defined %}
{{hostvars[item]['ansible_host']}}  {{ item|lower }} {{ item|lower }}.{{ domain|lower }}
{% else %}
{{hostvars[item]['ansible_host']}}  {{ item|lower }}
{% endif %}
{% endfor %}

