# {{ ansible_managed }}

[Unit]
Description=mapproxy service

[Service]
WorkingDirectory=/var/qgis-mapproxy
ExecStart=/usr/bin/mapproxy-util serve-develop /var/qgis-mapproxy/mapproxy.yaml --bind 0.0.0.0:{{mapproxy_port}}
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=mapproxy

[Install]
WantedBy=multi-user.target