{
  "Kestrel": {
    "Endpoints": {
      "Http": {
        "Url": "http://0.0.0.0:{{api_port}}"
      }
    }
  },  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "DefaultConnection": "Server={{postgres_server}};Port={{postgres_port}}; Database={{postgres_database}}; User Id={{postgres_user}}; Password={{postgres_password}};",
    "Schema": "public"
  },
  "apiUrl": "{{api_url}}",
  "FileStorageSettings": {
    //Пока есть три варианта хранения файлов (DataBase,FileSystem,S3Amazon) FileStorageType.cs
    "FileStorageType": "S3Amazon",
    "PhysicalStoragePath": "c:\\temp",
    "VirtualStoragePath": "/virtualpath",
    "S3AmazonSettings": {
      "ServerUrl": "{{s3_server_address}}:{{s3_server_port}}",
      "AccessKey": "{{s3_access_key}}",
      "SecretKey": "{{s3_secret_key}}",
      "MultiPartUploadMaxMb": 2048,
      "BucketName": "{{s3_bucket}}"
    }
  }
}
