# {{ ansible_managed }}

[Unit]
Description=Zapoved.Oopt.Web.Nature service

[Service]
WorkingDirectory=/var/www/Zapoved.Oopt.Web.Nature
ExecStart={{ dotnet_path }} /var/www/Zapoved.Oopt.Web.Nature/Zapoved.Oopt.Web.Nature.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=Zapoved.Oopt.Web.Nature
#User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target