# {{ ansible_managed }}

# -------------------------------
# MapProxy example configuration.
# -------------------------------
#
# This is a minimal MapProxy configuration.
# See full_example.yaml and the documentation for more options.
#

# Starts the following services:
# Demo:
#     http://localhost:8080/demo
# WMS:
#     capabilities: http://localhost:8080/service?REQUEST=GetCapabilities
# WMTS:
#     capabilities: http://localhost:8080/wmts/1.0.0/WMTSCapabilities.xml
#     first tile: http://localhost:8080/wmts/osm/webmercator/0/0/0.png
# Tile service (compatible with OSM/etc.)
#     first tile: http://localhost:8080/tiles/osm/webmercator/0/0/0.png
# TMS:
#     note: TMS is not compatible with OSM/Google Maps/etc.
#     fist tile: http://localhost:8080/tms/1.0.0/osm/webmercator/0/0/0.png
# KML:
#     initial doc: http://localhost:8080/kml/osm/webmercator

services:
  demo:
  tms:
    use_grid_names: true
    # origin for /tiles service
    origin: 'nw'
  kml:
      use_grid_names: true
  wmts:
  wms:
    md:
      title: MapProxy WMS Proxy
      abstract: This is a minimal MapProxy example.

layers:
  - name: osm
    title: Omniscale OSM WMS - osm.omniscale.net
    sources: [osm_cache]

{% for layer in mapproxy_layers %}
  - name: {{layer}}
    title: {{layer}}
    sources: [qgis_cache_{{layer}}]
{% endfor %}


caches:
  osm_cache:
    grids: [webmercator]
    sources: [osm_wms]
{% for layer in mapproxy_layers %}
  qgis_cache_{{layer}}:
    grids: [wgs84]
    sources: ['qgis_source:{{layer}}']
{% endfor %}    

sources:
  osm_wms:
    type: wms
    req:
      url: https://maps.omniscale.net/v2/demo/style.default/service?
      layers: osm
  qgis_source:
    type: wms
    concurrent_requests: 8
    wms_opts:
      featureinfo: true
    http:
      # defines how long MapProxy should wait for data from source servers
      client_timeout: 600 # seconds
    req:
      url: {{ qgis_url_internal }}
      transparent: true
      # you can remove `layer` when using this source as
      # tagged source, or you can list all available layers.
      # in this case MapProxy will check the layernames when
      # you reference this source.
      #layers: ImportedAdmlin,ImportedAdmpol,ImportedBldpnt,ImportedHdrpnt,Russia

grids:
    webmercator:
        base: GLOBAL_WEBMERCATOR
    wgs84:
        base: GLOBAL_GEODETIC
globals:
