{
  "apiUrl": "{{api_url}}",
  "mapProxyUrl": "{{mapproxy_url}}",
  "serverUrl": "{{qgis_url}}",
  "SyncfusionLicenseKey": "NDgxNjQxQDMxMzkyZTMyMmUzMEUyMEMwYTgyZDgwVzVMRDZSNnZzeUF5T3BjSjNhMHBjVG1Vc05qSit6R2c9;NDgxNjQyQDMxMzkyZTMyMmUzMG1qNktveEszVDNSMjlNVEZRRHZaaVcreGJIcTB0SFZCN21hMW9WUWxpekE9;NDgxNjQzQDMxMzkyZTMyMmUzMGF0eVdTSU8zdWtwWWtKTm9EblRpUHJiU3NUR1g1YndacXNpamZWZWg5Rjg9;NDgxNjQ0QDMxMzkyZTMyMmUzMEtibUd4TkhkL2NCY2tJcy9ka0ozT3hxNDNGdnRuS3JFcENGRFJJeXJvVW89;NDgxNjQ1QDMxMzkyZTMyMmUzMG0vRjVnKy9RK25nckJUa0t2cTNzQUM5VTY5eTRKMnFkZXdYS0FTYzJxc2s9;NDgxNjQ2QDMxMzkyZTMyMmUzMGdPRTB0T1kzRDVFSGZnOWU1VUZveFdwMCtpeXViZnVPOXkwam1LS0M0aGM9;NDgxNjQ3QDMxMzkyZTMyMmUzMGdrK2plaFl1WlVGRGNEMWhsQkhuQ0hkdytwUmdvakJrSy9naXN2OEt4K1U9;NDgxNjQ4QDMxMzkyZTMyMmUzMFpjSlFKSE54cUlzN0tPeDVJa2gwYjJmcnRFdVI3VDhlSkxsUHdLU2ZMcTQ9;NDgxNjQ5QDMxMzkyZTMyMmUzME5KcFV1aWp2SU5TUzdVN3ZUVi9zTEE3OXFZbzZHZzBTYVEyanA2dUpyQ0k9;NDgxNjUwQDMxMzkyZTMyMmUzMFcvWXpEYzl5aFBUcElXbGwyV3dya2dOeWc4NUNWWDJiVGxXektXeTFyZE09"
}
