# {{ ansible_managed }}

server {
  listen       {{ webclient_port }};
  access_log   /var/log/nginx/Zapoved.Oopt.Web.Public{{ webclient_port }}.access.log;
  error_log   /var/log/nginx/Zapoved.Oopt.Web.Public{{ webclient_port }}.error.log;

  include mime.types;
  types {
    application/wasm wasm;
  }
  
  location / {

    expires     epoch;
    proxy_no_cache 1;
    proxy_cache_bypass 1;

    root        /var/www/Zapoved.Oopt.Web.Public;
    try_files   $uri $uri/ /index.html =404;
  }
  expires 5d;
}

server {
  listen  80;
  server_name  {{ base_address }} www.{{ base_address }};
  access_log   /var/log/nginx/Zapoved.Oopt.Web.Public.access.log;
  error_log   /var/log/nginx/Zapoved.Oopt.Web.Public.error.log;

  include mime.types;
  types {
    application/wasm wasm;
  }

  location / {
    proxy_redirect off;

    expires     epoch;
    proxy_no_cache 1;
    proxy_cache_bypass 1;

    proxy_set_header X-Forwarded-Host $http_host; 
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for; 
    proxy_set_header X-Forwarded-Proto $scheme; 

    client_max_body_size 10m;

    proxy_http_version 1.1;  
    proxy_pass http://localhost:{{webclient_port}}; 
  }

  expires 5d;
}